build/
dist/
updates/
.vscode
.idea/
.DS_Store

# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserstate
buildServer.json
bin
ExportOptions.plist

# Sparkle auto-update security
sparkle_private_key.txt
sparkle_public_key.txt
*.dmg
signature.tmp
